html{
  box-sizing:border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body{
  font-family:"Dosis";
  margin:;
}

header{
  position:relative;
  padding:0.75em 0;
  text-align:center;
}

.btn{
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration:none;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #a8ae98, #5b5e52);
  border-radius:10px;
}

a{
  color:white;
  text-decoration:none;
}

.ant-nest{
  width:50%;
  float:left;
}

.dung{
  width:20%;
  float:left;
}

.stag{
    width:50%;
    float:right;
}

.tortoise{
  width:50%;
  float:right;
}

.sand{
  width:100%;
  clear:both;
  position:relative;
}

h1{
  font-size:12px;
  color:#512200;
  text-align:center;
  position:absolute;
  width:100%;
  bottom:16px;
  font-family:"Dosis";
}

h2{
  font-size: 20px;
  font-family: "Dosis";
  font-style: italic;
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  top:33em;
  clear:both;
  z-index:9;
}

.ant-nest{
  font-size: 50px;
  font-family: "Dosis";
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  top:73em;
  clear:both;
  z-index:9;
}

.stag-beetle{
  font-size: 50px;
  font-family: "Dosis";
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  top:73em;
  clear:both;
  z-index:9;
}

.dung-beetle{
  font-size: 50px;
  font-family: "Dosis";
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  top:73em;
  clear:both;
  z-index:9;
}

.tortoise-beetle{
  font-size: 50px;
  font-family: "Dosis";
  color:white;
  width:100%;
  text-align:center;
  position:absolute;
  top:73em;
  clear:both;
  z-index:9;
}
