html{
  box-sizing:border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body{
  font-family:"Dosis", sans-serif;
  margin:0;
}


/*header*/

h1{
  font-size:5rem;
  font-style:bold;
  font-weight:800;
  text-align:center;
  width:70%;
  bottom:36px;
  float:left;
  font-family:"Dosis";
  color:#512200;
}

header{
  padding:0;
  background-image: url("../images/subtle_white_mini_waves.png");
  background-size:75px auto, 200px auto;
  background-repeat:repeat;
  background-position: center 10px, left top;
}

.header-beetle-left{
  width:15%;
  float:left;
  padding:0.7em 0 0.5em 0.5em;
  top:30px;
  left:5px;
}

.header-beetle-right{
  width:15%;
  float:right;
  padding:0.7em 0 0.5em 0.5em;
  top:30px;
  right:5px;
}


/*Nav*/


nav{
  overflow:hidden;
  text-align:center;
  width:100%;
  background-color: rgba(81, 34, 0, 0.5);
  margin:0;
}

nav li{
  display:inline-block;
  width:20%;
  padding:0.7em 0 0.7em 0;
}

nav ul{
  padding:0;
  margin:0;
}

a{
  color:white;
  text-decoration:none;
}

li:hover{
  background-color: rgba(81,34,0,0.4);
  width:20%;
}


/*Banner*/

.life-forms{
  background-image: url("../images/59402778_e3fe0706d8_o.jpg");
  clear: both;
  padding-top:20em;
  margin:0;
}

.sand{
  width:100%;
  clear:both;
  position:relative;
}


h2{
  font-family:"Dosis";
  font-size:2.5rem;
  color:white;
  width:90%;
  text-align:center;
  clear:both;
  z-index:9;
  margin:0;
  }

  /*Squares*/

.boxes{
  width: 100%;
  box-sizing: border-box;
}
.beetle{
    width:50%;
    float:left;
    position:relative;
    display:block;
    margin:0;
}

.boxes img{
  width: 100%;
  display: block;

}


p{
  display: block;
  font-size: 30px;
  font-family:"Dosis";
  width:30%;
  text-align:center;
  padding: 0.5em 0.75em;
  text-decoration: none;
  color: #fff;
  background-color: #a8ae98;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  border-radius: 10px;
  position: absolute;
  bottom: 1em;
  left: 10%;

}

/*footer*/
footer{
background-color: rgba(81,34,0,0.4);
position:relative;
display:inline-block;
width:100%;
}

.footer-beetle{
  padding:1em 0 0.3em 1em;
}

.beetle-bottom{
  margin:0 45% 0;
  width:50px;
}
